* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica;
    justify-content: center; 
    border: 1px solid red;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    border: 1px solid yellow;

}
main {
    margin: auto;
    border: 1px solid blue;
    justify-content: center;
    text-align: center;
    align-content: space-evenly;    
    grid-template-columns : 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows : 1fr 1fr 1fr 1fr 1fr 1fr;
}

ul {
    display : inline-flex;
    margin: 0 150px 0 150px;
    align-content: space-evenly;
    background-color: #ffffff;
    border: 1px solid orange;


}
.arena {
    display : inline-flex;
    margin: 0 150px 0 150px;
    align-content: space-evenly;
    background-color: #ffffff;
    border: 1px solid orange;


}

main > div.fighters > div > img {
    border: 1px solid pink;
}